<form class="" action="{{ action_form }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="">
        <h3>
            {{ title }}
        </h3>
        <div class="">

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="{{ hidden_field }}" tabindex="-1" value="">
            </div>

            <input type="email"  value="" name="{{ field_name }}" class="email" id="mce-EMAIL" placeholder="Email" required>
            <input type="submit" value="{{ submit_text }}" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </div>
</form>